*{
    text-transform:Capitalize;
    background-color: blue;
    margin:5px;
    padding:5px;
}
ul{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-content:center;
    list-style:none;
    
}
ul li a{
    color:white;
}

.welcome-section{
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:30px;
    margin:3px;
}

.project-image{
    height:250px;
    width:250px;
   
}




































